@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

$sidebar-color: #EBF1F5;
$note-bg-color: #EBF1F5;
$nav-title-color: #5C7080;

html {
  scroll-behavior: smooth;
}

blockquote {
  border-left: 5px solid $nav-title-color;
  padding-left: .5em;
}

.minimized {
  display: none!important;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #D8E1E8;

  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
}

.sidebar-container {

  .sidebar {
    margin: 25px 60px;
    padding-bottom: 5px;
    max-height: 80vh;
    text-align: left;
    background-color: $sidebar-color;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.05), 0 2px 5px rgba(0,0,0,.15);
    position: sticky;
    top: 25px;

    .sidebar-title {
      .sidebar-min {
        color: white;
        &:hover, &:active, &:focus {
          background: none;
          outline: 0;
        }
      }
    }

    .sidebar-content {
      overflow-y: auto;
      max-height: 65vh;
      overflow-x: hidden;

      .table-of-contents {
        display: flex;
        flex-direction: column;
  
        a {
          margin: 0 10px 1.5px;
        }

        
      }

      
    }

    & > :nth-child(3) {
      padding: 0 5px;
      margin-top: 5px;
    }
    
  }
}

.sidebar-title, .ref-title {
  padding: 10px;
  background-color: $nav-title-color;
  color: white;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  h2 {
    padding: 3px 0 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 450;
    
  }
  
}

.sidebar-content, .ref-content {
  padding: 10px 5px;


  .table-of-contents > h3, & > h3 {
    margin: 0 0 10px 5px;
  }
}

.ref-sidebar {
  
  .ref {
    background-color: $sidebar-color;
    margin: 25px 60px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.05), 0 2px 5px rgba(0,0,0,.15);
    position: sticky;
    top: 25px;
  
    .ref-title {
      
      .sidebar-min {
        color: white;
        &:hover, &:active, &:focus {
          color: white;
          background: none;
          outline: 0;
        }
      }
    }
  
    .ref-content {
      overflow-y: auto;
      //max-height: 75vh;
      overflow-x: hidden;
      text-align: left;
      display: flex;
      flex-direction: column;
      
      & > :nth-child(3) {
        margin-top: 10px;
        margin-left: 5px;
      }

      button {
        margin: 0 10px 1.5px;
        align-items: normal;
        background-color: rgba(0,0,0,0);
        border-color: #106ba3;
        border-style: none;
        box-sizing: content-box;
        color: #106ba3;
        cursor: pointer;
        display: inline;
        font-size: 14px;
        padding: 2px 0;
        perspective-origin: 0 0;
        text-align: start;
        transform-origin: 0 0;
        width: auto;
        -moz-appearance: none;
        -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
        -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          outline: none;
        }
      }

      @supports (-moz-appearance:none) { /* Mozilla-only */
        button::-moz-focus-inner { /* reset any predefined properties */ 
          border: none;
          padding: 0;
        }
        button:focus { /* add outline to focus pseudo-class */
          outline-style: dotted;
          outline-width: 1px;
        }
      }

      .table-of-contents {
        display: flex;
        flex-direction: column;
        font-size: 12px;

        a {
          margin: 0 5px 1.5px;
        }

        code {
          white-space: pre-line;
        }

        
      }

      
    }
  }
}

.note-area {

  .note-textarea {
    width: 100%;
    font-size: 1.0rem;
    border: none;
    outline: none;
    resize: none;
    background-color: $note-bg-color;
    margin-top: 20px;
  }

  .note-titlearea {
    border: none;
    outline: none;
    resize: none;
    background-color: #8A9BA8;
    color: white;
    text-align: center;
    padding: 4px 0px;
    font-weight: bold;
  }

  .note {
    background-color: $note-bg-color;
    margin: 25px 0px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.05), 0 2px 5px rgba(0,0,0,.15);

    div.note-title {
      padding: 15px;
      background-color: $nav-title-color;
      color: white;
      font-size: 1.3rem;
      font-weight: bold;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      display: flex;
      justify-content: space-between;


      h3 {
        margin: 0;
      }
    }

    div.note-content {
      padding: 0px 25px 10px;
      text-align: left;
      p {
        margin-top: 14px;
      }
    }
  }
}
